.episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    padding: 1em;
    background-color: #1d1e20;
    box-shadow: 0px 12px 20px 0px #0069ed;
}

header p {
    margin: 0;
}

header button {
    position: initial;
}

