.episode{
    border-radius: 15px;
    padding: 8px;
    margin: 13px;
    width: 330px;
    height: 223px;
    background-color: #323335;
    position: relative;
}

.episode h1 {
    margin: 0;
    padding: 4px;
    font-size: 20px;
}

.episode p {
    margin: 2px;
    padding-bottom: 3em;
}

.infoEpisode {
    display: flex;
    justify-content: space-between;
}

.infoEpisode p{
    padding-bottom: 0;
}

button {
    border: none;
    border-radius: 20px;
    padding: .5em 1em;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    position:absolute;                 
    bottom:3%; 
    right: 3%;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.99);
}
