.episode{
    padding: 8px;
    margin: 17px;
    width: 250px;
    height: 160px;
    background-color: #323335;
    position: relative;
}

.episode #summary {
    display: none;
}

.episode button {
    display: none;
}

.episode:hover #summary {
  display: inherit;
  color: white;
}

.episode:hover {
    background-color: #0053ba;
}

.episode:hover .infoEpisode{
    display: none;
}

.episode:hover button {
    display: inherit;
}

.episode h1 {
    margin: 0;
    padding: 4px;
    font-size: 18px;
}

.episode p {
    margin: 2px;
    padding-bottom: 3em;
}

.infoEpisode {
    display: flex;
    justify-content: space-between;
}

.infoEpisode p{
    padding-bottom: 0;
    text-align: center;
}

button {
    border: none;
    border-radius: 20px;
    padding: .5em 1em;
    margin: 0;
    text-decoration: none;
    background: #323335;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    position:absolute;                 
    bottom:3%; 
    right: 27%;
}


button:active {
    transform: scale(0.99);
}


button {
    margin: auto;
}

#linkButton {
    text-align: center;
    color: white;
    text-decoration: none;
}


